.navbar-inverse {
	background-color: #A2E1DC;
	border-color: transparent;
	
}

a.navbar-brand {
	color: black;
}

.navbar-inverse .navbar-nav>li>a {
    color: #117C74;
}

.logo {
	
}

#contacts {
	background-color: #A2E1DC;
}

.
.text p {
	font-weight: 600;
	color: #9ccfd4;
	padding: 15px
}

.text h3 {
	text-transform: uppercase;
	color: white;
}


.small-text p{
	color: black;
	font-weight: normal;
}

.myIframe {
position: relative;
padding-bottom: 66%;
padding-top: 8px;
height: 0;

} 
.myIframe iframe {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
